.container-menu {
    background-color: coral;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 20px;
    margin-top: 10%;
}

.logo {
    position: relative;
    left: 80%;
    top: 50px;
}

.menu_inicial {
    color: white;
    position: relative;
    left: 30px;
    bottom: 50px;
}

.texto-principal{
    position: relative;
    left: 35%;
}

.container-rodape {
    background-color: white;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 20px;
    margin-top: 10%;

}

.rodape {
    position: relative;
    left: 75%;
    bottom: 80px;
  

}
